<% form_tag do %>
  <label>Twitter Username:</label>
  <%= text_field_tag :screen_name, params[:screen_name], :placeholder => 'Enter any Twitter username', :class => 'text_field' %>
  <%= submit_tag 'Fake it!', :class => 'button' %>
<% end %>

<% if @tweeter.has_tweets?
  next_tweet = @tweeter.next_tweet
%>
  <h2><%=h @tweeter.screen_name %>'s next tweet:</h2>
  <p><%=h next_tweet %></p>
  <% form_tag '', :style => 'display:inline' do %>
    <%= hidden_field_tag :screen_name, @tweeter.screen_name %>
    <%= submit_tag 'Try again', :class => 'button minor_button' %>
  <% end %>
  <% form_tag 'http://twitter.com/', :method => :get, :target => '_blank', :style => 'display:inline' do %>
    <%= hidden_field_tag :status, next_tweet + " (by @fakemytweet)" %>
    <%= submit_tag 'Tweet this', :class => 'button minor_button' %>
  <% end %>
  
<% end %>

<% content_for :sidebar do %>
  <h3>Or try these suggestions:</h3>
  <ul>
    <% SuggestedUser.top_suggested_users.each do |suggested_user| %>
      <li><%= link_to suggested_user[:display_name], index_path(:screen_name => suggested_user[:screen_name]) %></li>
    <% end %>
  </ul>
<% end %>
